@page "/map"

@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<div class="card h-60">
    <div class="card-header d-flex-inline">
        <span>
            Razor Components and OpenLayers JavaScript Interop basic example. 
            <small class="float-right">
                Select Map:
                <select id="layer-select">
                    <option value="osm" selected>Open Street Map</option>
                    <option value="normal.day">Normal Day</option>
                    <option value="normal.day.transit">Normal Day Transit</option>
                    <option value="pedestrian.day">Pedestrian Day</option>
                    <option value="terrain.day">Terrain Day</option>
                    <option value="satellite.day">Satellite Day</option>
                    <option value="hybrid.day">Hybrid Day</option>                   
                </select>
            </small>
        </span>


    </div>
    <div class="card-body p-0">
        <div id="map"></div>
        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
    </div>
</div>


@code {

    protected async override Task OnAfterRenderAsync()
    {
        await JSRuntime.InvokeAsync<object>("olMap.showMap");
    }
}
